<div class="header" style="background-image: url('https://i.imgur.com/bWfZR8C.gif'); background-size:cover;">
    <h1 style="color: white; position:relative; top:100px;">Properties For You</h1>
    <form class="form-inline" method="GET" action="/properties" style="position:relative; bottom:100px;">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose State...
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="state">
                    <li><a href="#" data-value="nsw">New South Wales</a></li>
                    <li><a href="#" data-value="wa">Western Australia</a></li>
                    <li><a href="#" data-value="ql">Queensland</a></li>
                    <li><a href="#" data-value="nt">Northern Territory</a></li>
                    <li><a href="#" data-value="sa">South Australia</a></li>
                    <li><a href="#" data-value="v">Victoria</a></li>
                    <li><a href="#" data-value="t">Tasmania</a></li>
                    <li><a href="#" data-value="act">Australian Capital Territory</a></li>
                    <li><a href="#" data-value="jbt">Jervis Bay Territory</a></li>
                </ul>
                <input type="hidden" name="state" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="town" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   Choose Region...
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="town">
                    <li><a href="#" data-value="sr">Sydney Region </a></li>
                    <li><a href="#" data-value="hcnc">Hunter, Central & North Coasts</a></li>
                    <li><a href="#" data-value="isc">Illawarra & South Coast</a></li>
                    <li><a href="#" data-value="rnsw">Regional NSW</a></li>
                </ul>
                <input type="hidden" name="region" value="">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="town" name="town" placeholder="Sydney">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">
            <span class="fa fa-search"></span> Search</button>
    </form>
</div>

<div class="howto">
    <h2>How to use HouseHub?</h2>
    <div class="row">
        <div class="col-sm-4">
            <h2><i class="fa fa-search"></i> Search</h2>
            <p>This is STEP1</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="fa fa-eye"></i> Compare</h2>
            <p>This is STEP2</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="fa fa-thumbs-up"></i> Share</h2>
            <p>This is STEP3</p>
        </div>
    </div>

</div>
