<div class="header">
    <h2>Aloha</h2>
    <p>This is header</p>
    <form class="form-inline">

    <div class="form-group">
        <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    NSW
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Area1</a></li>
                    <li><a href="#">Area2</a></li>
                    <li><a href="#">Area3</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="city" placeholder="Sydney">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="town" placeholder="CBD">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
