<div class="header">
    <h2>Properties For You</h2>
    <form class="form-inline" method="GET" action="/properties">
    <div class="form-group">
        <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    New South Wales
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Western Australia</a></li>
                    <li><a href="#">Queensland</a></li>
                    <li><a href="#">Northern Territory</a></li>
                    <li><a href="#">South Australia</a></li>
                    <li><a href="#">Victoria</a></li>
                    <li><a href="#">Tasmania</a></li>
                    <li><a href="#">Australian Capital Territory</a></li>
                    <li><a href="#">Jervis Bay Territory</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="city" placeholder="Sydney">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="town" placeholder="CBD">
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-search"></span> Search</button>
    </form>
</div>
