html {

}

body {
    background-color: #f4f2ed;
    font-size: 20px;
}

h1, h2, label, dt {
    font-family: 'Lateef';
}

ul {
    font-size: 20px;
    display: inline-block;
    font-family: 'Lateef';
}

footer {
    padding: 40px 0;
}

.container {
    max-width: 1080px;
}

.navbar {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    border: 0 none;
}

.navbar-nav {
    max-width: 450px;
    float: none;
    margin: auto;
}

.btn-primary {
    background-color: #27aa41;
}

.btn-primary:hover {
    background-color: #27aa41;
}

.navbar .container {
    position: relative;
}

.content {
    text-align: center;
}

.well {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
}

.title {
    font-family: 'Nixie One';
    font-size: 28px;
}
