html {

}

body {
    background-color: #f4f2ed;
    font-size: 20px;
}

h1, h2, h3, h4, p, label, dt, th, span {
    font-family: 'Lateef';
}

p {
    font-size: 18px;
}

ul {
    font-size: 14px;
    display: inline-block;
}

footer {
    padding: 40px 0;
}

table {
    background-color: white;
}

.header {
    min-height: 150px;
}

.header h1 {
    margin-bottom: 40px;
}

.container {
    max-width: 1080px;
}

.navbar {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    border: 0 none;
}

.navbar-nav {
    max-width: 450px;
    float: none;
    margin: auto;
}

.btn-primary {
    background-color: #27aa41;
}

.btn-primary:hover {
    background-color: #27aa41;
}

.navbar .container {
    position: relative;
}

.content {
    text-align: center;
}

.well {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
}

.title {
    font-family: 'Nixie One';
    font-size: 28px;
}

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.block {
    background-color: white;
    margin: 40px;
}

.block h2 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.howto {
    margin: 40px; 
}
